---
color1: '#6D7993'
color2: '#9099A2'
grey1: '#D5D5D5'
---

body {
    font-family:    "Open Sans", Helvetica, Arial, sans-serif;
    font-size:      16px;
    font-weight:    300;
    margin:         0;
}

b {
    font-weight:    500;
}

hr {
    border:             0.5px solid {{ page.color1 }};
}

a:link, a:visited {
    color:              {{ page.color1 }};
    text-decoration:    none;
}

a:hover, a:active {
    color:              {{ page.color2 }};
}

ul {
    list-style: square outside;
}

div.main {
    border-left:    transparent solid 25px;
    border-right:   transparent solid 25px;
    font-size:      100%;
    max-width:      750px;
    margin-top:     25px;
    margin-left:    auto;
    margin-bottom:  25px;
    margin-right:   auto;
}

div.header {
    font-weight:    500;
    font-family:    "Raleway", Arial, sans-serif;
}

div.navbar {
    font-family:        "Raleway", Arial, sans-serif;
    margin-top:         25px;
    width:              100%;
    display:            flex;
    justify-content:    space-between;
    color:             	{{ page.color1 }};
}

div.title {
    font-size:          300%;
    width:              100%;
    display:            flex;
    justify-content:    space-between;
}

div.title_left {
    float:  left;
}

div.title_right {
    float:  right;
    color:  {{ page.color1 }};
}

div.body{
    margin-top: 25px;
}

.profile{
    border-radius:  50%;
    float:          right;
    width:          200px;
    margin-left:    25px;
    margin-bottom:  25px;
}

h1 {
    line-height:    3em;
    font-size:      150%;
    font-family:    "Raleway", Arial, sans-serif;
    font-weight:    500;
}

h2 {
    font-size:      125%;
    font-family:    "Raleway", Arial, sans-serif;
    font-weight:    500;
}

.center {
    text-align: center;
}

div.footer {
    font-family:    "Raleway", Arial, sans-serif;
    font-size:      75%;
    margin-top:     25px;
    width:          100%;
}

div.footer_body{
    margin-top:         10px;
    width:              100%;
    display:            flex;
    justify-content:    space-between;
}

table {
    border-collapse:    collapse;
    margin:             auto;
}

td, th {
    border:     1px solid {{ page.grey1 }};
    padding:    6px;
}

tr:nth-child(even) {
    background-color:   {{ page.grey1 }};
}

th {
    background-color:   {{ page.color1 }};
    color:              #FFFFFF;
}

.highlight table td { padding: 10px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: 500;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: 500;
  font-style: italic;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: 500;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: 500;
}
.highlight .kd {
  color: #000000;
  font-weight: 500;
}
.highlight .kn {
  color: #000000;
  font-weight: 500;
}
.highlight .kp {
  color: #000000;
  font-weight: 500;
}
.highlight .kr {
  color: #000000;
  font-weight: 500;
}
.highlight .kt {
  color: #445588;
  font-weight: 500;
}
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: 500;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s, .highlight .sa, .highlight .dl {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: 500;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: 500;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: 500;
}
.highlight .nf, .highlight .fm {
  color: #990000;
  font-weight: 500;
}
.highlight .nl {
  color: #990000;
  font-weight: 500;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv, .highlight .vm {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: 500;
}
.highlight .o {
  color: #000000;
  font-weight: 500;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight {
  background-color: #f8f8f8;
}
